*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;  
  }

  body{
    min-height: 100vh;
    background-color: beige;
    background-size: cover;
    background-position: center;
  }

  .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
  }

  .logo{
    font-size: 32px;
    color: rgba(165, 42, 42, 0.611);
    text-decoration: none;
    font-weight: 700;
  }

  .navBar a{
    position: relative;
    font-size: 18px;
    color:rgba(165, 42, 42, 0.611);
    text-decoration: none;
    font-weight: 700;
    margin-left: 40px;
  }

  .navBar a:hover{
    font-weight: bold;
    cursor: pointer;
   border-bottom: 3px solid rgb(135, 53, 13);
  }

  body {
    background-image: url(backu.jpg);
    font-family: Arial, sans-serif;
    background-color: beige;
    margin-left: 80px;
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    background-color: beige;
    
      
}

form {
    background-color: #fff;
    padding: 20px;
    width: 25%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #cfdc71;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-top: -10px;
    margin-bottom: 10px;
}