*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;  
  }

  body{
    min-height: 100vh;
    background-color: beige;
    background-size: cover;
    background-position: center;
  }

  .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: beige;
  }

  .logo{
    font-size: 32px;
    color: rgba(165, 42, 42, 0.611);
    text-decoration: none;
    font-weight: 700;
  }

  .navBar a{
    position: relative;
    font-size: 18px;
    color:rgba(165, 42, 42, 0.611);
    text-decoration: none;
    font-weight: 700;
    margin-left: 40px;
  }

  .navBar a:hover{
    font-weight: bold;
    cursor: pointer;
   border-bottom: 3px solid rgb(135, 53, 13);
  }
 
    .RegisterPage {
      max-width: 600px;
      margin: 50px auto;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .RegisterPage p{
      justify-content: center;
    }
  
    #RegisterImg {
      text-align: center;
    }
  
    #RegisterImg img {
      max-width: 100%;
      height: auto;
      border-radius: 5px;
    }
  
    form {
      display: grid;
      gap: 15px;
    }
  
    label {
      display: block;
      font-weight: bold;
    }
  
    input {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
      border: 1px solid #af4c4c;
      border-radius: 4px;
    }
  
    input[type="submit"] {
      background-color: #af4c4c;
      color: white;
      cursor: pointer;
    }
  
    input[type="submit"]:hover {
      background-color: #881c1c;
    }