*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;  
  }

  body{
    min-height: 100vh;
    background-color: beige;
    background-size: cover;
    background-position: center;
  }

  .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: beige;
  }

  .logo{
    font-size: 32px;
    color: rgba(165, 42, 42, 0.611);
    text-decoration: none;
    font-weight: 700;
  }

  .navBar a{
    position: relative;
    font-size: 18px;
    color:rgba(165, 42, 42, 0.611);
    text-decoration: none;
    font-weight: 700;
    margin-left: 40px;
  }

  .navBar a:hover{
    font-weight: bold;
    cursor: pointer;
   border-bottom: 3px solid rgb(135, 53, 13);
  }
 
 
  .theMiddle{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .theMiddle img{
    height: 890px;
    width: 600px;
    align-items: center;
    padding-top: 120px;
    padding-right: 60px;
    border-radius: 50%;
    
  }

  .theMiddle h1{
    position: relative;
    font-size: 40px;
    color: rgba(213, 109, 109, 0.611);
    text-decoration: none;
    font-weight: 700;
    margin-left: 40px;
  }

.foto{
  display: flex;
  justify-content: center;
  align-items: center;
}
.img{
 display: flex;
}

.img img{
  height: 500px;
  width: 380px;
  margin-right: 10px;
}
.h2{
  position: fixed;
    font-size: 40px;
    color:  rgba(213, 109, 109, 0.611);
    text-decoration: none;
    font-style: inherit;
    font-weight: 700;
    margin-right: 60px;
    margin-top: 8% ;
    margin-bottom: 10px;
  }

.shopi{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  margin-bottom: 10px;
  color:  rgba(213, 109, 109, 0.611);
}

.paragrafi h4{
  font-size: 35px;
  color: rgba(213, 109, 109, 0.611);
  text-decoration: underline;
  font-weight: 700;
  text-align: center;
  justify-content: center;
}

.paragrafi p{
    font-size:20px;
    color: rgba(213, 109, 109, 0.611);
    text-decoration: none;
    text-align: center;
    justify-content: center;
  }

  .paragrafi{
    border-color: black;
    border-radius:10px ;
  }

  /* .johover{
    display: inline-block;
    margin: 10px;
    position: relative;
  }
   */
  /* .fenty{
    display: flex;
  }
  .fenty img{
    height: 500px;
    width: 380px;
    margin-right: 10px;
    
    /* box-shadow: 0 0 10px rgb(167, 167, 229); */
  /* } */ 
  .image-row {
    display: flex;
    justify-content: center;
  }
 
  .image-container {
    display: inline-block; 
    margin: 10px; 
    position: relative;
    margin-bottom: 70px;
    color: grey;
    text-align: center;
    text-decoration: none;
  }
  

 
  .image-container img {
    width: 450px; 
    height: 500px; 
    transition: opacity 0.3s ease-in-out;
    margin-bottom: 40px;
  }

 
  .image-container:hover img {
    opacity: 0; 
  }

 
  .image-container:hover .hover-image {
    opacity: 1;
  }

  .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .collection p{
    position: relative;
    font-size: 20px;
    color: grey;
    text-decoration: none;
    font-weight: 600; 
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
  }
.eyedoctor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
}
.eyedoctor p{
  position: relative;
    font-size: 20px;
    color: rgba(213, 109, 109, 0.611);
    text-decoration: none;
    font-weight: 600; 
    margin-left: 40px;
    
  }

.eyedoctor img{
  height: 700px;
  width: 1100px;
  align-items: center;
}

.eyedoctor p:nth-child(2){
  position: relative;
    font-size: 22px;
    color: rgba(213, 109, 109, 0.611);
    text-decoration: none;
    font-weight: 600; 
    margin-left: 40px;
    position: absolute;
    margin-top: 120px;
}

footer{
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: darkgray;
  font-size: 15px;
}

.f{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 70%;
  color: rgb(232, 201, 25);
  font-size: larger;
  font-weight: bold;
  text-decoration: underline;
}

.ff{
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.ff img{
  width: 32px;
  height: 32px;
}

.footermain{
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.footerleft{
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  font-size: 15px;
}

.footerright{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  width: 170px;
  align-items: flex-end;
}

.footercenter{
  align-items: flex-start;
}

.fotofooter{
  display: flex;
  justify-content: space-evenly;
}

.fundi{
  display: flex;
  justify-content: space-between;
  width: 70%;
}

footer{
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: darkgray;
  font-size: 15px;
}

.f{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 70%;
  color: rgb(232, 201, 25);
  font-size: larger;
  font-weight: bold;
  text-decoration: underline;
}

.ff{
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.ff img{
  width: 32px;
  height: 32px;
}

.footermain{
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.footerleft{
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  font-size: 15px;
}

.footerright{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  width: 170px;
  align-items: flex-end;
}

.footercenter{
  align-items: flex-start;
}

.fotofooter{
  display: flex;
  justify-content: space-evenly;
}

.fundi{
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.dropbtn {
  background-color: rgba(165, 42, 42, 0.611);
  color: beige; 
  padding: 16px;
  font-size: 16px;
  border: none;
  position: relative;
  font-size: 18px;
  text-decoration: none;
  font-weight: 700;
  margin-left: 40px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(156, 48, 48);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: beige;
                          color: rgba(165, 42, 42, 0.611);}

