*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;  
  }

  body{
    min-height: 100vh;
    background: url(Grandville.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
  }

  .logo{
    font-size: 32px;
    color: rgba(165, 42, 42, 0.611);
    text-decoration: none;
    font-weight: 700;
  }

  .navBar a{
    position: relative;
    font-size: 18px;
    color:rgba(165, 42, 42, 0.611);
    text-decoration: none;
    font-weight: 700;
    margin-left: 40px;
  }

  .navBar a:hover{
    font-weight: bold;
    cursor: pointer;
   border-bottom: 3px solid rgb(135, 53, 13);
  }
 
 
  .theMiddle{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .theMiddle img{
    height: 890px;
    width: 600px;
    align-items: center;
    padding-top: 120px;
    padding-right: 60px;
    border-radius: 50%;
    
  }

  .theMiddle h1{
    position: relative;
    font-size: 40px;
    color: rgba(213, 109, 109, 0.611);
    text-decoration: none;
    font-weight: 700;
    margin-left: 40px;
  }

.foto{
  display: flex;
  justify-content: center;
  align-items: center;
}
.img{
 display: flex;
}

.img img{
  height: 500px;
  width: 380px;
  margin-right: 10px;
}
.h2{
  position: fixed;
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    font-style: inherit;
    font-weight: 700;
    margin-right: 60px;
    margin-top: 8% ;
    margin-bottom: 10px;
  }

.shopi{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  margin-bottom: 10px;
  color: lightblue;
}

.paragrafi h4{
  font-size: 35px;
  color: #fff;
  text-decoration: underline;
  font-weight: 700;
  text-align: center;
  justify-content: center;
}

.paragrafi p{
    font-size:20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    justify-content: center;
  }

  .paragrafi{
    border-color: black;
    border-radius:10px ;
  }

  .johover{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fenty{
    display: flex;
  }
  .fenty img{
    height: 500px;
    width: 380px;
    margin-right: 10px;
    /* box-shadow: 0 0 10px rgb(167, 167, 229); */
  }

  