*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;  
}

body{
  min-height: 100vh;
  background-color: beige;
  background-size: cover;
  background-position: center;
  margin: 0; 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;  
}

body{
  min-height: 100vh;
  background-color: beige;
  background-size: cover;
  background-position: center;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: beige;
}

.logo{
  font-size: 32px;
  color: rgba(165, 42, 42, 0.611);
  text-decoration: none;
  font-weight: 700;
}

.navBar a{
  position: relative;
  font-size: 18px;
  color:rgba(165, 42, 42, 0.611);
  text-decoration: none;
  font-weight: 700;
  margin-left: 40px;
}

.navBar a:hover{
  font-weight: bold;
  cursor: pointer;
 border-bottom: 3px solid rgb(135, 53, 13);
}

h2 {
  margin-top: 60px;
  font-size:40px;
  line-height: 20px;
  text-align: center;
  padding: 30px 20px 5px 0;
  color: rgb(144, 7, 7);
}

hr {
  border: none; 
  height: 1.5px; 
  background-color: rgb(156, 66, 66); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

.btn-primary{
  background-color:rgb(156, 66, 66) ;
  padding: 1%;
  color: white;
  margin-left: 430px;
  text-decoration: none;
  font-weight: bold;
  
}
.btn-primary:hover{
  background-color:rgb(182, 137, 137) ;

}


.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  max-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 80%;
}

.content-table thead tr {
  background-color: rgb(156, 66, 66);
  color: beige;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #ffacac;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #ffacac;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(156, 66, 66);
}

/* jsdgfsgjdfg */

.dropbtn {
  background-color: rgba(165, 42, 42, 0.611);
  color: beige; 
  padding: 16px;
  font-size: 16px;
  border: none;
  position: relative;
  font-size: 18px;
  text-decoration: none;
  font-weight: 700;
  margin-left: 40px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(156, 48, 48);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: beige;
                          color: rgba(165, 42, 42, 0.611);}
